version: 2.1
executors:
  default:
    docker:
      - image: circleci/node:10
jobs:
  deploy_prod:
    executor:
      name: default
    steps:
      - checkout
      - run:
          name: install-packages
          command: yarn install --frozen-lockfile
      - run:
          name: fetch-latest-data
          command: curl -s https://covid19-aomori-production-dataset-store.s3-ap-northeast-1.amazonaws.com/data.json > data/data.json
      - run:
          name: generate
          command: yarn run generate:deploy --fail-on-page-error
      - run:
          name: deploy
          command: npx netlify-cli deploy --dir=./dist --prod

  deploy_preview:
    executor:
      name: default
    steps:
      - checkout
      - run:
          name: install-packages
          command: yarn install --frozen-lockfile
      - run:
          name: fetch-latest-data
          command: curl -s https://covid19-aomori-production-dataset-store.s3-ap-northeast-1.amazonaws.com/data.json > data/data.json
      - run:
          name: generate
          command: yarn run generate:deploy --fail-on-page-error
      - run:
          name: deploy
          command: npx netlify-cli deploy --dir=./dist

workflows:
  deploy:
    jobs:
      - deploy_prod:
          filters:
            branches:
              only: master
      - deploy_preview:
          filters:
            branches:
              only: development
